이 페이지는 자세한 분석을 위한 페이지가 아닙니다.

시각화를 해야하는 이유를 보여주기 위한 페이지입니다.

In [2]:
# Frank Anscombe 이라는 사람의 사례

import seaborn

anscombe = seaborn.load_dataset('anscombe')
anscombe

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [3]:
# dataset의 값이 I, II, III, IV 별로 추출
dataset_1 = anscombe[ anscombe['dataset']=='I']
dataset_2 = anscombe[ anscombe['dataset']=='II']
dataset_3 = anscombe[ anscombe['dataset']=='III']
dataset_4 = anscombe[ anscombe['dataset']=='IV']

In [4]:
dataset_1.mean()

C:\Users\kosmo\AppData\Local\Temp\ipykernel_11228\3323602201.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset_1.mean()

x    9.000000
y    7.500909
dtype: float64

In [ ]:
# 각각의 dataset의 통계치 확인 - 평균, 분산 유사함

# dataset_1.mean()
x, y = dataset_1.mean()
print('x={0} y={1}'.format(x, y))

x, y = dataset_2.mean()
print('x={0} y={1}'.format(x, y))

x, y = dataset_3.mean()
print('x={0} y={1}'.format(x, y))

x, y = dataset_4.mean()
print('x={0} y={1}'.format(x, y))

x, y = dataset_1.var()                 # 분산
print('x={0} y={1}'.format(x, y))

x, y = dataset_2.var()
print('x={0} y={1}'.format(x, y))

x, y = dataset_3.var()
print('x={0} y={1}'.format(x, y))

x, y = dataset_4.var()
print('x={0} y={1}'.format(x, y))

In [ ]:
# 시각화하기 - 하나씩 출력하여 데이타 구조가 다름을 확인 
import matplotlib.pyplot as plt
# plt.plot(dataset_1['x'], dataset_1['y'])
# plt.plot(dataset_1['x'], dataset_1['y'], 'o')
# plt.plot(dataset_2['x'], dataset_2['y'], 'o')
# plt.plot(dataset_3['x'], dataset_3['y'], 'o')
# plt.plot(dataset_4['x'], dataset_4['y'], 'o')

# [결론] 평균, 분산 등의 수치가 같아도 그래프 형태로 확인하면 다른 데이타임을 알 수 있다
# 
fig = plt.figure()  #  1-전체 그래프의 기본 틀
axes1 = fig.add_subplot(2,2,1) # 2-그래프를 넣을 그래프 격자
axes2 = fig.add_subplot(2,2,2)
axes3 = fig.add_subplot(2,2,3)
axes4 = fig.add_subplot(2,2,4)

axes1.plot(dataset_1['x'], dataset_1['y'], 'o') # 3-격자에 그래프 추가
axes2.plot(dataset_2['x'], dataset_2['y'], 'o')
axes3.plot(dataset_3['x'], dataset_3['y'], 'o')
axes4.plot(dataset_4['x'], dataset_4['y'], 'o')

# 안나오면 fig 입력하여 확인

##  [참고] 데이타 분석과 통계활용법을 배워야 하는 이유

### 나이팅게일의 로즈 다이어그램

<img src='./images/Nightingale.jpg'>

### 나폴레옹의 전투 지도로 본 병사 추이

<img src='./images/Napoleon_map.png'/>
        
##### 그래프는 모르는 사람이 봐도 쉽게 이해할 수  있도록 하는 수단이다

## <font color='red'>[중요]</font>
### <font color='blue'>데이타를 분석하고 그 데이타에서 인사이트를 도출하여 그 결과를 알기 쉽게 시각화하는 것이지 이쁘게 하는 것이 시각화가 아니다</font>