## 쉘모드 변경

+ code 쉘로 변경 :  esc > y
+ markdown 쉘로 변경 : esc > m

* 별 하나 : 번호 없는 목록
* *별 1개(감싸기): 기울이기(주의! 별표와 공백없이 사용해야함!)* *
* **별 2개(감싸기): 굵게**
* ***별3개(감싸기): 굵게 & 기울이기***
---
* 가로선: ---

---

안녕하세요 날도 추운데 그냥 집에 보내주시죠 
집에서 이불 덮고 귤이나 까먹고 싶네용

> 안녕
> 하이

<div align='center'>헬로우 월드</div>

<img src='dataset/puppy.jpg'>

[링크걸기](http://www.google.com)

[![](https://www.google.com/logos/doodles/2022/seasonal-holidays-2022-6753651837109831.4-law.gif)](http://google.com)

<table border='1'>
<tr>
    <td>인덱스</td>
    <td>값</td>
</tr>
<tr>
    <td>변수</td>
    <td>데이터</td>
</tr>
</table>

In [1]:
import pandas

p = pandas.read_csv('./dataset/subway_data1.csv',encoding='utf-8')

In [2]:
p

    구 분      역명          총계      일평균
0   1호선     서울역  11,933,924  132,599
1   1호선     시청역   4,221,693   46,908
2   1호선     종각역   8,441,749   93,797
3   1호선   종로3가역   6,725,558   74,728
4   1호선   종로5가역   5,038,305   55,981
..  ...     ...         ...      ...
90  4호선     이촌역   1,792,511   19,917
91  4호선     동작역     523,615    5,818
92  4호선  총신대입구역   4,398,897   48,877
93  4호선     사당역   5,459,335   60,659
94  4호선    남태령역     206,457    2,294

[95 rows x 4 columns]

## <font color='green'>[참고] 서울 지하철</font>

<img src='dataset/map_subway.jpg'>